<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SBS</title>
<link  href="/css/top.css"  rel="stylesheet" type="text/css" />
<style type="text/css">

</style>
</head>
<body>
<header> spring boot security program test2  </header>
<nav> &emsp;&emsp;

<a href="/board/form"> board등록 </a> &emsp;
<a href="/board/getBoardList"> board목록 </a> &emsp;

<a href="/Port/PortOneStart"> 결제하기 </a> &emsp;
<a href="/PortOneT/start"> 결제하기Test </a> &emsp;

<a href="/exam/getExamList"> 성적목록보기 </a> &emsp;

&emsp;<a href="/index">홈으로</a> 
